.nric {
  width: 430px;
  height: 270px;
}

.focusBox {
  border: 2px solid #2a4365;
  border-radius: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out, height 0.3s ease-in-out,
    width 0.3s ease-in-out, transform 0.3s ease-in-out;

  &.name {
    height: 5.5rem;
    width: 17.5rem;
    opacity: 1;
    transform: translate(9rem, 4rem);
  }
}
